* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.new{
  
}
/* Float four columns side by side */
.column {
  float: left;
  width: 30%;
  padding: 0 10px;
  margin: 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.card button{
  width: 160px;
  height: 60px;
  border: 1px solid #12343b;
  background-color:#fff5d7;
  border-radius: 5px;
  cursor: pointer;
  color:#12343b;
}
.card img{
  height: 30%;
  width: 80%;
  border-radius: 3px;
}
/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  color:	rgb(255, 255, 255);
  background-image:  linear-gradient(-90deg, #fff5d7,#fff5d7);
  
  border-radius: 5px;
  color: #12343b;

}